*{
    margin: 0;
    padding: 0;
}

/* parent-1 */


.parent-1{
    height: 800px;
    width: 100%;
    background-color: hsl(22, 100%, 46%);
}
.nav-bar{
    height: 18vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.nav-child{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 15px;
}
.swiggy-image{
    height: 8vh;
    margin-right: 100px;
}
#a-child{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size:large;
    height: 5px;
}
.div-app{
    height: 50px;
    width: 150px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    /* margin-top: 13px; */
    align-items: center;
    margin-bottom: 18px;
}
.a-app{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.fa-arrow-right-to-bracket{
    margin-left: 8px;
    margin-top: 2px;
}
.div-sign{
    height: 52px;
    width: 130px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-sign{
    padding-bottom: 29px;
}
.search-bar{
    display: flex;
}
.vegie-image1{
    background-position: center;
    background-size: cover;
    width: 250px;
}
.heading{
    font-size: 43px;
    color: white;
    font-weight:bold;
    margin-top: 70px;
    margin-left: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading2{
    margin-left: 60px;
    margin-bottom: 0px;
}
.vegie-image2{
    background-position: center;
    background-size: cover;
    width: 250px;
    margin-left: 36px;
    margin-bottom: 100px;
}
.div-search-button{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.div-search-button1{
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: white;
    height: 60px;
    width: 300px;
    border-radius: 15px;
}
.fa-location-dot{
    color: hsl(22, 100%, 46%);
    font-size: large;
}
.search-button1{
    outline: none;
    border-radius: 15px;
    border: none;
    /* padding: 24px 55px 24px 55px;   */
    font-weight: bold;
    font-size: 14px;
    color: rgb(134, 131, 131);
}
.select-option{
    outline: none;
    border: 0px;
    color: rgb(54, 53, 53);
    /* height: 30px;
    width: 30px; */
    font-size: large;
}
.div-search-button2{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    height: 60px;
    width: 465px;
}
.search-button2{
    outline: none;
    border: none;
    font-weight: bold;
    width: 280px;
    height: 60px;
    /* padding-left: 20px; */
    margin-left: 15px;
    font-size: 16px;
}
.fa-magnifying-glass{
    margin-right: 20px;
    color: rgb(104, 102, 102);
}
.div-diff-images{
    height: 350px;
    width: 800px;
    background-position: center;
    background-size: cover; 
    display: flex;
    position: relative;
    right: 120px;
    top: 40px;
}
#diff-images{
    height: 330px;
    width: 370px;
}


/* parent-2 */


.heading-food{
    margin: 120px 0px 0px 135px;
    font-weight: bold;
    font-size: x-large;
    color: rgb(22, 21, 21);
}
.parent-2{
    height: 400px;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    margin: 30px 0px 0px 135px;
}
.food-img{
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 150px;
}


/* parent-3 */


.heading-instamart{
    margin: 80px 0px 0px 135px;
    font-weight: bold;
    font-size: x-large;
    color: rgb(22, 21, 21);
}
.parent-3{
    height: 250px;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-left: 130px;
    margin-top: 30px;
}
.insta-img{
    background-position: center;
    background-size: cover;
    height: 190px;
    width: 150px;
    margin-right: 40px;
}
.insta-head1{
    text-align: center;
    margin-right: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.7;
    font-family:sans-serif;
}


/* parent-4 */


.heading-resto{
    margin: 80px 0px 0px 135px;
    font-weight: bold;
    font-size: x-large;
    color: rgb(22, 21, 21);
}
.parent-4{
    height: 500px;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-left: 130px;
    margin-top: 30px;
}
/* .resto-dineout1{
    
} */
.card-img{
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-image:url(/thyme\ and\ whisk.jpeg);
    border-radius: 20px 20px 0px 0px;
}
.thyme-whisk-title{
    font-weight: bolder;
    padding-top: 180px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}


/* parent-6 */


.heading-fooddelivery{
    margin: 80px 0px 0px 200px;
    font-weight: bold;
    font-size: x-large;
    color: rgb(22, 21, 21);
    size-adjust: -50%;
}
.parent-6{
    height: 270px;
    width: 870px;
    /* border: 1px solid; */
    margin-left: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}
.fooddelivery{
    text-align: center;
    height: 70px;
    width: 200px;
    border: 1px dotted rgb(73, 68, 68);;
    font: 14px ;
    /* text-decoration: none; */
    border-radius: 10px;
}
.a-fooddelivery1{
    text-decoration: none;
    color: rgb(73, 68, 68);
    font-weight: bold;
    font-size: 15px;
}
.p-food-delivery{
    margin-top: 19px;
}
.p-food-delivery2{
    margin-top: 25px;
}
.p-food-delivery3{
    margin-top: 25px;
    color: hsl(22, 100%, 46%);
    font-weight: bolder;
}
.select-option-2{
    outline: none;
    border: 0px;
    color: hsl(22, 100%, 46%);
    margin-bottom: 2px;
}
#fooddelivery11{
    display: flex;
    justify-content: center;
}


/* parent-7 */


.heading-grocerydelivery{
    margin: 40px 0px 0px 200px;
    font-weight: bold;
    font-size: x-large;
    color: rgb(22, 21, 21);
    size-adjust: -50%;
}
.parent-7{
    height: 270px;
    width: 870px;
    /* border: 1px solid; */
    margin-left: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}
.p-food-delivery4{
    margin-top: 21px;
}


/* parent-8 */


.parent-8{
    height: 590px;
    width: 100%;
    margin-top: 80px;
    background-color: rgb(245, 242, 242);
    /* border: 1px solid; */
    padding-top: 60px;
}
.parent-8-1{
    height: 400px;
    width: 1000px;
    /* border: 1px solid;   */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    /* margin-top: 50px; */
}
.parent8-child{
    height: 400px;
    width: 160px;
    /* border: 1px solid; */
    
}
.parent8-child1{
    margin-right: 150px;
    /* border: 1px solid; */
    height: 400px;
    width: 160px;
}
.swiggyimg2{
    height: 50px;
    width: 70px;
    background-position: center;
    background-size: cover;
}
.swiggy-image2{
    height: 100px;
    width: 100px;
}

.contact-details{
    font-weight: bold;
    font-size: 18px;
}
.details{
    text-decoration: none;
    color: rgb(52, 50, 50);
    opacity: 0.9;
    font-weight: 500;
    font-size: 17px;
}
.cities{
    color: rgb(52, 50, 50);
    /* padding: 20px; */
    border: 1px dotted;
}
.legal{
    margin-top: 80px;
}
.social-links{
    margin-top: 80px;
}
.parent-8-2{
    height: 1px;
    width: 1200px;
    /* border: 1px solid; */
    margin-top: 50px;
    background-color: rgb(124, 122, 122);
    margin-left: 80px;
}
.parent-8-3{
    height: 100px;
    width: 1000px;
    /* border: 1px solid; */
    margin-left: 180px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.swiggy-app{
    font-size: 25px;
    font-weight: bolder;
    opacity: 0.8;
}
